<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.apputviklingmappe2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/title"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ApputviklingMappe2">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BestillBord"
            android:label="Bestill bord">
        </activity>
        <activity
            android:name=".Restauranter"
            android:label="Registrer restauranter">
        </activity>
        <activity
            android:name=".Venner"
            android:label="Registrer venner">
        </activity>
        <activity
            android:name=".VennerList"
            android:label="List venner">
        </activity>
        <activity
            android:name=".RestauranterList"
            android:label="List restauranter">
        </activity>
        <activity
            android:name=".Preferanser"
            android:label="Velg preferanser">
        </activity>
        <activity
            android:name=".RestaurantNotification"
            android:label=".Restaurant notifikasjon">
        </activity>
        <receiver android:name=".RestaurantBroadcastReceiver"
            android:exported="false"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="com.example.apputviklingmappe2.mybroadcast" />
            </intent-filter>
        </receiver>
        <service android:name=".RestaurantService"></service>
        <service android:name=".SetPeriodicalService"></service>
    </application>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

</manifest>